@media only screen and (max-width: 768px) {
    .main {
        width: 80%;
        margin: 20px 10% 40px 10%;
    }

    .player {
        display: block;
        width: 100%;
        margin: auto;
        border: 3px solid #ccc;
        box-shadow: 5px 10px 10px #888;
        border-radius: 10px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        width: 100%;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .player {
        display: flex;
        width: 750px;
        margin: auto;
        border: 3px solid #ccc;
        box-shadow: 5px 10px 10px #888;
        border-radius: 10px;
        overflow: hidden;
    }
}